<div class="row">
    <div class="row" id="imgFileLoder">
        <div class="col-md-6">
            <h2>Load Your Image</h2>
            <br>
            <input type="file" name="file" onchange="angular.element(this).scope().imgLoad(this)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- <div class="row">
                <div class="col-md-4">
                    <label for="brightness">Brightness</label>
                </div>
                <div class="col-md-4">
                    <input  type="range"
                            name="brightness"
                            data-ng-model="brightnessValue"
                            data-ng-mouseup="brightnessMouseup(brightnessValue)"
                            min=-100 max=100 step=1>
                </div>
                <div class="col-md-4">
                    <span>{{brightnessValue}}</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-4">
                    <label for="contrast">Contrast</label>
                </div>
                <div class="col-md-4">
                    <input  type="range"
                            name="contrast"
                            data-ng-model="contrastValue"
                            data-ng-mouseup="contrastMouseup(contrastValue)"
                            min=-100 max=100 step=1>
                </div>
                <div class="col-md-4">
                    <span>{{contrastValue}}</span>
                </div>
            </div> -->
        </div>
        <div class="col-md-6">
            <img data-ng-hide="true" id="imgViewer"/>
        </div>
    </div>
    <hr>

    <div class="row">
        <!-- <input type="file" onchange="angular.element(this).scope().imgLoadCanvas(this)">
        <br>
        <button type="button" name="button" data-ng-click="getGrayImage()">ChangeGray</button> -->
        <!-- <br> -->
        <div class="col-md-6">
            <canvas id="imageProcessingCanvas"></canvas>
        </div>
        <div class="col-md-6">
            <label for="brightness">Brightness : {{brightnessValue}}</label>
            <input  type="range"
                    name="brightness"
                    min=-255 max=255 step=1
                    data-ng-model="brightnessValue">
            <br>
            <label for="threshold">Threshold : {{thresholdValue}}</label>
            <input  type="range"
                    name="threshold"
                    min=0 max=255 step=1
                    data-ng-model="thresholdValue">
        </div>
    </div>
    <hr><hr>
    <div class="row">
        <div class="col-md-4" data-ng-repeat="( name, catalog ) in catalogs">
            <img    class="img-thumbnail"
                    data-ng-src="{{catalog.path}}"
                    data-ng-attr-id="{{name}}"
                    data-ng-click="selectCatalog(name)"/>
            <!-- <input  type="radio"
                    name="catalog"
                    data-ng-model="$parent.selected"
                    data-ng-click="selectCatalog(name)"/> -->
        </div>
    </div>
    <div class="row">
        <!-- <button type="button"
                name="button"
                class="btn btn-default"
                data-ng-click="genarateBaseImage();">Get Base Image</button> -->
        <button type="button"
                name="button"
                class="btn btn-primary"
                data-ng-click="addImageLayer();">Add Layer</button>
    </div>
    <div class="row">
        <div class="col-md-8" id="blendContainer">
            <canvas id="baseImage"
                    width="480"
                    height="640"
                    style="position:absolute;"></canvas>
        </div>
        <div class="col-md-4">
            <input  type="range"
                    name="name"
                    min=1
                    max=1000
                    step=1
                    data-ng-model="markTop">{{markTop}}
            <input  type="number"
                    name="name"
                    min=1
                    max=1000
                    data-ng-model="markTop">
            <input  type="range"
                    name="name"
                    min=1
                    max=1000
                    step=1
                    data-ng-model="markLeft">{{markLeft}}
            <input  type="number"
                    name="name"
                    min=1
                    max=1000
                    ng-model="markLeft">
            <input  type="range"
                    name="name"
                    min=1
                    max=1000
                    step=1
                    data-ng-model="markWidth">{{markWidth}}
            <input  type="number"
                    name="name"
                    min=1
                    max=1000
                    data-ng-model="markWidth">
            <input  type="range"
                    name="name"
                    min=1
                    max=1000
                    step=1
                    data-ng-model="markHeight">{{markHeight}}
            <input  type="number"
                    name="name"
                    min=1
                    max=1000
                    data-ng-model="markHeight">
        </div>
    </div>
</div>
