<div class="col-md-12">
    <div class="col-md-12" id="imgFileLoder">
        <div class="col-md-6">
            <h2>Load Your Image</h2>
            <br>
            <input type="file" name="file" onchange="angular.element(this).scope().imgLoad(this)">
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <input type="range" name="name" data-ng-model="brightnessValue" data-ng-model-options="{ debounce: 50 }" min=-100 max=100 step=1>
        </div>
        <div class="col-md-6">
            <img id="imgViewer"/>
        </div>
    </div>
</div>
