<div class="row">
    <div class="row" id="imgFileLoder">
        <div class="col-md-6">
            <h2>Load Your Image</h2>
            <br>
            <input type="file" name="file" onchange="angular.element(this).scope().imgLoad(this)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- <div class="row">
                <div class="col-md-4">
                    <label for="brightness">Brightness</label>
                </div>
                <div class="col-md-4">
                    <input  type="range"
                            name="brightness"
                            data-ng-model="brightnessValue"
                            data-ng-mouseup="brightnessMouseup(brightnessValue)"
                            min=-100 max=100 step=1>
                </div>
                <div class="col-md-4">
                    <span>{{brightnessValue}}</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-4">
                    <label for="contrast">Contrast</label>
                </div>
                <div class="col-md-4">
                    <input  type="range"
                            name="contrast"
                            data-ng-model="contrastValue"
                            data-ng-mouseup="contrastMouseup(contrastValue)"
                            min=-100 max=100 step=1>
                </div>
                <div class="col-md-4">
                    <span>{{contrastValue}}</span>
                </div>
            </div> -->
        </div>
        <div class="col-md-6">
            <img id="imgViewer"/>
        </div>
    </div>
    <hr>

    <div class="row">
        <input type="file" onchange="angular.element(this).scope().imgLoadCanvas(this)">
        <br>
        <button type="button" name="button" data-ng-click="getGrayImage()">ChangeGray</button>
        <br>
        <label for="brightness">Brightness : {{brightnessValue}}</label>
        <input  type="range"
                name="brightness"
                min=-255 max=255 step=1
                data-ng-model="brightnessValue">
        <br>
        <label for="threshold">Threshold : {{thresholdValue}}</label>
        <input  type="range"
                name="threshold"
                min=0 max=255 step=1
                data-ng-model="thresholdValue">
    </div>
    <div class="row">
        <canvas id="imageProcessingCanvas"></canvas>
    </div>
</div>
